In [12]:
#--import libraries
#!pip install kaggle  # to install kaggle library if doesnt exist
import kaggle
!kaggle datasets download meirnizri/covid19-dataset -f "Covid Data.csv" # downloading dataset from kaggle using kaggle api

Dataset URL: https://www.kaggle.com/datasets/meirnizri/covid19-dataset
License(s): CC0-1.0
Downloading Covid%20Data.csv.zip to C:\Users\prade\Documents\python+SQL project

  0%|          | 0.00/4.66M [00:00<?, ?B/s]
 21%|##1       | 1.00M/4.66M [00:01<00:04, 794kB/s]
 43%|####2     | 2.00M/4.66M [00:01<00:01, 1.59MB/s]
 64%|######4   | 3.00M/4.66M [00:01<00:00, 2.55MB/s]
100%|##########| 4.66M/4.66M [00:01<00:00, 4.46MB/s]
100%|##########| 4.66M/4.66M [00:01<00:00, 2.79MB/s]

In [22]:
#extract file from zip file
!kaggle datasets download meirnizri/covid19-dataset -f "Covid Data.csv"

Dataset URL: https://www.kaggle.com/datasets/meirnizri/covid19-dataset
License(s): CC0-1.0
Downloading Covid%20Data.csv.zip to C:\Users\prade\Documents\python+SQL project

  0%|          | 0.00/4.66M [00:00<?, ?B/s]
 21%|##1       | 1.00M/4.66M [00:01<00:04, 770kB/s]
 43%|####2     | 2.00M/4.66M [00:01<00:01, 1.44MB/s]
 64%|######4   | 3.00M/4.66M [00:01<00:00, 1.89MB/s]
 86%|########5 | 4.00M/4.66M [00:02<00:00, 2.06MB/s]
100%|##########| 4.66M/4.66M [00:02<00:00, 2.23MB/s]
100%|##########| 4.66M/4.66M [00:02<00:00, 1.83MB/s]

In [25]:
import zipfile
zip_ref = zipfile.ZipFile('Covid%20Data.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [2]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv("covid data.csv",na_values=[97,99,98]) #values as 97,98 and 99 are missing data, so we are replacing them with NaN.In this case, any occurrence of 97 or 99 in the CSV file will be treated as a missing value (NaN) in the resulting DataFrame.
df

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,NaN,1.0,65.0,2.0,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3,NaN
1,2,1,2,1,03/06/2020,NaN,1.0,72.0,NaN,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,5,NaN
2,2,1,2,2,09/06/2020,1.0,2.0,55.0,NaN,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3,2.0
3,2,1,1,1,12/06/2020,NaN,2.0,53.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7,NaN
4,2,1,2,1,21/06/2020,NaN,2.0,68.0,NaN,1.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,NaN,2.0,40.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7,NaN
1048571,1,13,2,2,9999-99-99,2.0,2.0,51.0,NaN,2.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,7,2.0
1048572,2,13,2,1,9999-99-99,NaN,2.0,55.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7,NaN
1048573,2,13,2,1,9999-99-99,NaN,2.0,28.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7,NaN
1048574,2,13,2,1,9999-99-99,NaN,2.0,52.0,NaN,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,7,NaN

In [3]:
#rename columns names ..make them lower case.
df.columns # to print columns in the csv file
df.columns=df.columns.str.lower()  # we are converting column names to lower case and asssigning them to columns 
df.columns # printing columns
df.dtypes # printing datatypes

#Note:Object dtype is the default data type for text (string) data in pandas. It can also handle NaN values.

usmer                     int64
medical_unit              int64
sex                       int64
patient_type              int64
date_died                object
intubed                 float64
pneumonia               float64
age                     float64
pregnant                float64
diabetes                float64
copd                    float64
asthma                  float64
inmsupr                 float64
hipertension            float64
other_disease           float64
cardiovascular          float64
obesity                 float64
renal_chronic           float64
tobacco                 float64
clasiffication_final      int64
icu                     float64
dtype: object

In [4]:
#in the covid dataset some column values representing 1 -'YES',2 -'No'. So we are replacing those 1,2 values with the respective str. 

# Step1 :selecting all columns that we need to replace the row values..
columns_to_replace = ['intubed', 'pneumonia','pregnant','diabetes','asthma','inmsupr','hipertension','cardiovascular','obesity','renal_chronic','tobacco','icu','other_disease','copd']

#Step2 :defining the values and corresponding replace value.
df[columns_to_replace] = df[columns_to_replace].replace({1:'Yes',2:'No'}).astype(str)

#step3 : printing modified DataFrame
df

,usmer,medical_unit,sex,patient_type,date_died,intubed,pneumonia,age,pregnant,diabetes,...,asthma,inmsupr,hipertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,clasiffication_final,icu
0,2,1,1,1,03/05/2020,nan,Yes,65.0,No,No,...,No,No,Yes,No,No,No,No,No,3,nan
1,2,1,2,1,03/06/2020,nan,Yes,72.0,nan,No,...,No,No,Yes,No,No,Yes,Yes,No,5,nan
2,2,1,2,2,09/06/2020,Yes,No,55.0,nan,Yes,...,No,No,No,No,No,No,No,No,3,No
3,2,1,1,1,12/06/2020,nan,No,53.0,No,No,...,No,No,No,No,No,No,No,No,7,nan
4,2,1,2,1,21/06/2020,nan,No,68.0,nan,Yes,...,No,No,Yes,No,No,No,No,No,3,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,nan,No,40.0,nan,No,...,No,No,No,No,No,No,No,No,7,nan
1048571,1,13,2,2,9999-99-99,No,No,51.0,nan,No,...,No,No,Yes,No,No,No,No,No,7,No
1048572,2,13,2,1,9999-99-99,nan,No,55.0,nan,No,...,No,No,No,No,No,No,No,No,7,nan
1048573,2,13,2,1,9999-99-99,nan,No,28.0,nan,No,...,No,No,No,No,No,No,No,No,7,nan
1048574,2,13,2,1,9999-99-99,nan,No,52.0,nan,No,...,No,No,No,No,No,No,No,No,7,nan

In [123]:
#Changing data types of columns, converting float values to integer values

#fill NaN values with zero
df['age'] = df['age'].fillna(0)

#convert age column float dtype to integer
df['age'] = df['age'].astype(int)

#print DataFrame 
df

,usmer,medical_unit,sex,patient_type,date_died,intubed,pneumonia,age,pregnant,diabetes,...,asthma,inmsupr,hipertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,clasiffication_final,icu
0,2,1,1,1,03/05/2020,nan,Yes,65,No,No,...,No,No,Yes,No,No,No,No,No,3,nan
1,2,1,2,1,03/06/2020,nan,Yes,72,nan,No,...,No,No,Yes,No,No,Yes,Yes,No,5,nan
2,2,1,2,2,09/06/2020,Yes,No,55,nan,Yes,...,No,No,No,No,No,No,No,No,3,No
3,2,1,1,1,12/06/2020,nan,No,53,No,No,...,No,No,No,No,No,No,No,No,7,nan
4,2,1,2,1,21/06/2020,nan,No,68,nan,Yes,...,No,No,Yes,No,No,No,No,No,3,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,nan,No,40,nan,No,...,No,No,No,No,No,No,No,No,7,nan
1048571,1,13,2,2,9999-99-99,No,No,51,nan,No,...,No,No,Yes,No,No,No,No,No,7,No
1048572,2,13,2,1,9999-99-99,nan,No,55,nan,No,...,No,No,No,No,No,No,No,No,7,nan
1048573,2,13,2,1,9999-99-99,nan,No,28,nan,No,...,No,No,No,No,No,No,No,No,7,nan
1048574,2,13,2,1,9999-99-99,nan,No,52,nan,No,...,No,No,No,No,No,No,No,No,7,nan

In [5]:
#modifying classification final column.
df['clasiffication_final']=df['clasiffication_final'].replace({1:'Mild_degree_cvpostive',2:'Moderate_degree_cvpostive',3:'severe_degree_cvpostive',4:'cvnegative'})
df['clasiffication_final'] = df['clasiffication_final'].apply(
    lambda x: 'Undetermined/unconclusive' if x in [5, 6, 7] else x
)
df

,usmer,medical_unit,sex,patient_type,date_died,intubed,pneumonia,age,pregnant,diabetes,...,asthma,inmsupr,hipertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,clasiffication_final,icu
0,2,1,1,1,03/05/2020,nan,Yes,65.0,No,No,...,No,No,Yes,No,No,No,No,No,severe_degree_cvpostive,nan
1,2,1,2,1,03/06/2020,nan,Yes,72.0,nan,No,...,No,No,Yes,No,No,Yes,Yes,No,Undetermined/unconclusive,nan
2,2,1,2,2,09/06/2020,Yes,No,55.0,nan,Yes,...,No,No,No,No,No,No,No,No,severe_degree_cvpostive,No
3,2,1,1,1,12/06/2020,nan,No,53.0,No,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
4,2,1,2,1,21/06/2020,nan,No,68.0,nan,Yes,...,No,No,Yes,No,No,No,No,No,severe_degree_cvpostive,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,nan,No,40.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048571,1,13,2,2,9999-99-99,No,No,51.0,nan,No,...,No,No,Yes,No,No,No,No,No,Undetermined/unconclusive,No
1048572,2,13,2,1,9999-99-99,nan,No,55.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048573,2,13,2,1,9999-99-99,nan,No,28.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048574,2,13,2,1,9999-99-99,nan,No,52.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan

In [6]:
# replacing sex column 
df['sex']=df['sex'].replace({1:'Female',2:'Male'})

# replacing patient_type column
df['patient_type']=df['patient_type'].replace({1:'Returned_Home',2:'Hospitalization'})

df

,usmer,medical_unit,sex,patient_type,date_died,intubed,pneumonia,age,pregnant,diabetes,...,asthma,inmsupr,hipertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,clasiffication_final,icu
0,2,1,Female,Returned_Home,03/05/2020,nan,Yes,65.0,No,No,...,No,No,Yes,No,No,No,No,No,severe_degree_cvpostive,nan
1,2,1,Male,Returned_Home,03/06/2020,nan,Yes,72.0,nan,No,...,No,No,Yes,No,No,Yes,Yes,No,Undetermined/unconclusive,nan
2,2,1,Male,Hospitalization,09/06/2020,Yes,No,55.0,nan,Yes,...,No,No,No,No,No,No,No,No,severe_degree_cvpostive,No
3,2,1,Female,Returned_Home,12/06/2020,nan,No,53.0,No,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
4,2,1,Male,Returned_Home,21/06/2020,nan,No,68.0,nan,Yes,...,No,No,Yes,No,No,No,No,No,severe_degree_cvpostive,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,Male,Returned_Home,9999-99-99,nan,No,40.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048571,1,13,Male,Hospitalization,9999-99-99,No,No,51.0,nan,No,...,No,No,Yes,No,No,No,No,No,Undetermined/unconclusive,No
1048572,2,13,Male,Returned_Home,9999-99-99,nan,No,55.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048573,2,13,Male,Returned_Home,9999-99-99,nan,No,28.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048574,2,13,Male,Returned_Home,9999-99-99,nan,No,52.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan

In [11]:
#load the data into sql server using replace option
#!pip install sqlalchemy --it is a library used to connect with sql server.SQLAlchemy is a powerful and flexible Python library used for working with relational databases
import sqlalchemy as sal
#This line creates an SQLAlchemy engine object, which represents the core interface to the database.

# mssql://: Specifies the dialect. In this case, mssql indicates that you are connecting to a Microsoft SQL Server database.
#PRADEEP\SQLEXPRESS: Specifies the server name or instance of SQL Server. Here, PRADEEP is the machine name, and SQLEXPRESS is the named instance of SQL Server.
#/Analytics: Indicates the name of the database you want to connect to, in this case, Analytics.
#?driver=ODBC+DRIVER+17+FOR+SQL+SERVER: Specifies the ODBC driver to be used for the connection. ODBC DRIVER 17 FOR SQL SERVER is a specific driver that enables communication between Python and SQL Server.

engine = sal.create_engine('mssql://PRADEEP\SQLEXPRESS/Analytics?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

#This line opens a connection to the database using the engine you just created.
conn=engine.connect()

In [9]:
#load the data into sql server using append option

df.to_sql('df_covid19', con=conn , index=False, if_exists = 'replace')

-1

In [12]:
df

,usmer,medical_unit,sex,patient_type,date_died,intubed,pneumonia,age,pregnant,diabetes,...,asthma,inmsupr,hipertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,clasiffication_final,icu
0,2,1,Female,Returned_Home,03/05/2020,nan,Yes,65.0,No,No,...,No,No,Yes,No,No,No,No,No,severe_degree_cvpostive,nan
1,2,1,Male,Returned_Home,03/06/2020,nan,Yes,72.0,nan,No,...,No,No,Yes,No,No,Yes,Yes,No,Undetermined/unconclusive,nan
2,2,1,Male,Hospitalization,09/06/2020,Yes,No,55.0,nan,Yes,...,No,No,No,No,No,No,No,No,severe_degree_cvpostive,No
3,2,1,Female,Returned_Home,12/06/2020,nan,No,53.0,No,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
4,2,1,Male,Returned_Home,21/06/2020,nan,No,68.0,nan,Yes,...,No,No,Yes,No,No,No,No,No,severe_degree_cvpostive,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,Male,Returned_Home,9999-99-99,nan,No,40.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048571,1,13,Male,Hospitalization,9999-99-99,No,No,51.0,nan,No,...,No,No,Yes,No,No,No,No,No,Undetermined/unconclusive,No
1048572,2,13,Male,Returned_Home,9999-99-99,nan,No,55.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048573,2,13,Male,Returned_Home,9999-99-99,nan,No,28.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan
1048574,2,13,Male,Returned_Home,9999-99-99,nan,No,52.0,nan,No,...,No,No,No,No,No,No,No,No,Undetermined/unconclusive,nan